body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1c1c1c; 
  color: #ff69b4;
  padding: 20px;
}

.App-header {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #ff69b4;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 20px;
  margin-bottom: 20px;
}

.day {
  background: #2a2a2a;
  border-radius: 10px;
  padding: 15px;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  min-height: 300px;
}

.day h2 {
  margin-bottom: 20px; 
  font-size: 1.4rem; 
}

.day ul {
  list-style: none; 
  padding: 0;
  margin: 0;
}

.day ul li {
  margin-bottom: 12px; 
  padding: 10px;
  background-color: rgba(95, 85, 90, 0.2); 
  border-radius: 5px;
}

.lesson-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.lesson-time {
  font-weight: bold; 
}

.lesson-name {
  font-weight: bold; 
  color: #e4c8d6; 
}

.lesson-teacher {
  font-size: 0.9rem; 
  margin-top: 5px; 
  color: #ff69b4; 
}

.note {
  display: flex;
  align-items: center;
  background-color: rgba(174, 75, 125, 0.2);
  border-radius: 5px;
  padding: 5px;
  font-size: 0.9rem;
  margin-top: 5px;
}

.note-icon {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.current-day {
  background: #ff69b4;
  color: #1c1c1c;
  transform: scale(1.06); 
}


/* Медиа-запрос для маленьких экранов */
@media (max-width: 800px) {
  body {
    padding: 10px; /* Уменьшаем отступы */
  }

  .App-header {
    font-size: 1.2rem; /* Уменьшаем размер заголовка */
    margin-bottom: 10px;
  }

  .calendar {
    grid-template-columns: 1fr; /* Все дни в одну колонку */
    gap: 10px; /* Уменьшаем расстояние между днями */
  }

  .day {
    padding: 10px; /* Уменьшаем отступы внутри блока дня */
    font-size: 0.9rem; /* Уменьшаем общий размер текста */
    min-height: auto; /* Высота подстраивается под контент */
  }

  .day h2 {
    font-size: 1.2rem; /* Уменьшаем размер заголовка дня */
    margin-bottom: 15px;
  }

  .day ul li {
    padding: 8px; /* Уменьшаем внутренние отступы */
    margin-bottom: 8px; /* Уменьшаем расстояние между уроками */
  }

  .lesson-details {
    flex-direction: column; /* Располагаем время и предмет вертикально */
    align-items: flex-start; /* Выравниваем по левому краю */
  }

  .lesson-time {
    margin-bottom: 5px; /* Добавляем отступ между временем и предметом */
  }

  .note {
    font-size: 0.8rem; /* Уменьшаем текст заметки */
    padding: 4px; /* Уменьшаем отступы внутри заметки */
  }

  .note-icon {
    width: 24px; /* Уменьшаем размер иконки */
    height: 24px;
  }
}

